<div class="background-div">
    <mat-toolbar class="admin-toolbar">
        <!-- Logo ด้านซ้าย -->
        <a [routerLink]="['/HomepageAdmin']" [queryParams]="{ id: adminId }" class="logo-link">
            <img src="../../../assets/images/Logoweb.png" alt="Home Icon" class="logo-image">
        </a>

        <!-- เมนูตรงกลาง -->
        <div class="center-menu">
            <a class="menu-item" [routerLink]="['/userlist']" [queryParams]="{ id: adminId }">
                <i class="fa-solid fa-users"></i>
                <span class="itim-regular">ผู้ใช้งาน</span>
            </a>

            <a class="menu-item" [routerLink]="['/noti_addmin']" [queryParams]="{ id: adminId }">
                <i class="fa-solid fa-bell"></i>
                <span class="itim-regular">การแจ้งเตือน</span>
            </a>
        </div>

        <!-- เมนูขวาสุด -->
        <div class="toolbar-actions">
            <button class="logout-button" (click)="logout()">
                <i class="fa-solid fa-sign-out-alt"></i>
                <span>ออกจากระบบ</span>
            </button>
        </div>
    </mat-toolbar>


    <div *ngIf="userProfile" style="display: flex; justify-content: flex-end; margin-top: 120px; padding-right: 20px;">
        <button class="buttonEdit" mat-flat-button
            [style.background-color]="userProfile.status === 0 ? 'green' : 'rgb(216, 57, 57)'"
            (click)="toggleBan(userProfile)" style="font-size: 17px; font-weight: bold;">
            {{ userProfile.status === 0 ? 'ยกเลิกการระงับบัญชี' : 'ระงับบัญชีผู้ใช้' }}
        </button>
    </div>


    <div style="display: flex; flex-direction: column; margin-top: 50px;">

        <div style="display: flex; flex-direction: row; justify-content: center;">
            <div style="display: flex; flex-direction: row; gap: 180px;">
                <!-- รูปโปรไฟล์ -->
                <img [src]="userProfile?.image_url || 'https://i.pinimg.com/736x/a8/0e/36/a80e3690318c08114011145fdcfa3ddb.jpg'"
                    alt="Profile Picture" style="width: 250px; height: 250px; border-radius: 50%; object-fit: cover;">
                <!-- ข้อมูลผู้ใช้ -->
                <div style="display: flex; flex-direction: column;">
                    <div
                        style="display: flex; flex-direction: row; justify-content: flex-start; gap: 30px; width: 100%;">
                        <!-- ชื่อผู้ใช้ -->
                        <span style="font-size: 30px;"> {{ userProfile?.username }}</span>
                        <!-- อีเมล -->
                        <span style="font-size: 25px; color: rgb(147, 142, 142);"> email: {{ userProfile?.email
                            }}</span>

                    </div>

                    <div style="display: flex; flex-direction: row; margin-top: 30px; gap: 60px;">
                        <!-- จำนวนโพสต์ -->
                        <div style="display: flex; flex-direction: column; align-items: center;">
                            <span style="font-size: 25px; font-weight: 500;">{{userPosts.length }}</span>
                            <span style="font-size: 20px;">จำนวนโพสต์</span>
                        </div>

                        <!-- ผู้ติดตาม -->
                        <div style="display: flex; flex-direction: column; align-items: center;">
                            <span style="font-size: 25px; font-weight: 500;">{{ followersCount }}</span>
                            <span style="font-size: 20px;">ผู้ติดตาม</span>
                        </div>

                        <!-- กำลังติดตาม -->
                        <div style="display: flex; flex-direction: column; align-items: center;">
                            <span style="font-size: 25px; font-weight: 500;">{{ followingCount }}</span>
                            <span style="font-size: 20px;">กำลังติดตาม</span>
                        </div>
                    </div>

                    <!-- Description -->
                    <span style="margin-top: 30px; font-size: 19px;">คำอธิบายตัวเอง
                    </span>
                </div>
            </div>
        </div>
        <div style="display: flex; justify-content: center; align-items: center; margin-top: 50px; z-index: 1;">
            <mat-tab-group style="width: 70%;">
                <!-- โพสต์ของผู้ใช้ -->
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon>apps</mat-icon>
                    </ng-template>
                    <div class="post-grid">
                        <div *ngFor="let post of userPosts" class="post-item">
                            <div>
                                <!-- แสดงรูปภาพหรือวิดีโอ -->
                                <a [routerLink]="['/detail_post']"
                                    [queryParams]="{ post_id: post.post_id, user_id: userId }">
                                    <img *ngIf="post.media_type === 'image'"
                                        [src]="post.firstMediaUrl || 'https://via.placeholder.com/350x300'"
                                        alt="รูปที่โพสต์" class="post-image">
                                    <video *ngIf="post.media_type === 'video'" [src]="post.firstMediaUrl" controls
                                        class="post-video"></video>
                                </a>

                                <!-- ไอคอนแสดงว่ามีหลายรูป -->
                                <div *ngIf="post.hasMultipleMedia" class="multiple-media-icon">
                                    <i class="fa fa-clone"
                                        style="font-size: 30px; color: white; position: absolute; top: 10px; right: 10px; padding: 5px; border-radius: 50%;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>