<div class="background-div">
    <mat-toolbar
        style="background-color: rgb(233, 135, 135); height: 90px; display: flex; align-items: center; justify-content: space-between;">

        <a [routerLink]="['/HomepageAdmin']" [queryParams]="{ id: userId }">
            <img src="../../../assets/images/Logoweb.png" alt="Home Icon" width="80px">
        </a>
        <!-- กลุ่มไอคอนด้านซ้าย -->
        <div style="display: flex; flex-grow: 1; justify-content: center; align-items: center;">
            <div style="display: flex; justify-content: center; align-items: center; gap: 60px;">

                <div style="display: flex; flex-direction: column; align-items: center;">
                    <a [routerLink]="['/HomepageAdmin']" [queryParams]="{ id: userId }">
                        <i style="font-size: 40px; color: black;" class="fas fa-house"></i>
                    </a>
                    <span class="itim-regular">หน้าหลัก</span>
                </div>

                <div style="display: flex; flex-direction: column; align-items: center;">
                    <a [routerLink]="['/userlist']" [queryParams]="{ id: userId }">
                        <i style="font-size: 40px; color: black;" class="fa-solid fa-users"></i>
                    </a>
                    <span class="itim-regular">ผู้ใช้งาน</span>
                </div>


                <div style="display: flex; flex-direction: column; align-items: center;">
                    <a class="menu-item" routerLinkActive="active" [routerLink]="['/noti_addmin']" [queryParams]="{ id: userId }">
                        <i style="font-size: 40px; color: black;" class="fa-solid fa-bell"></i>
                    </a>
                    <span class="itim-regular">การแจ้งเตือน</span>
                </div>

            </div>
        </div>


        <!-- ไอคอนเมนู -->
        <div style="display: flex; flex-direction: column; align-items: center; margin-left: 20px;">
            <a href="javascript:void(0)" (click)="toggleDrawer()">
                <i style="font-size: 40px; color: black;" class="fa-solid fa-bars"></i>
            </a>
        </div>

        <!-- Drawer -->
        <div class="drawer" [class.open]="isDrawerOpen">
            <div class="drawer-content">
                <h3 style="font-weight: 500; font-size: 30px;">MENU</h3>
                <ul style="list-style: none; padding: 0;">
                    <!-- ออกจากระบบ -->
                    <li
                        style="border-bottom: 1px solid #ccc; padding: 10px 0; display: flex; align-items: center; gap: 10px;">
                        <i class="fa fa-sign-out" style="font-size: 20px; color: black;"></i>
                        <a href="/" style="text-decoration: none; color: black;">
                            <span class="itim-regular">ออกจากระบบ</span>
                        </a>
                    </li>
                </ul>
                <button mat-flat-button style="background-color: rgb(226, 124, 150); width: 100px;"
                    (click)="toggleDrawer()">ปิด</button>
            </div>
        </div>

    </mat-toolbar>
</div>
<div>
    <div class="drawer-notification" [class.open]="isNotiDrawerOpen">
        <div class="drawer-notification-content">
            <div style="position: relative; width: 100%; padding: 10px 0;">
                <!-- ข้อความตรงกลาง -->
                <div style="text-align: center;">
                    <span class="fa-solid itim-regular" style="font-size: 30px; color: black;">
                        การแจ้งเตือน
                    </span>
                </div>

                <!-- ไอคอนชิดขวา -->
                <div style="position: absolute; right: 20px; top: 50%; transform: translateY(-50%);" (click)="toggleNotiDrawer()">
                    <i class="fa-solid fa-xmark" style="font-size: 22px; color: black; cursor: pointer;"></i>
                </div>
            </div>
            <div class="noti-list">
                <mat-card class="noti-card" (click)="selectCard(null)">
                    <div class="card-content">
                        <img src="../../../assets/images/Logoweb.png" alt="avatar" class="avatar" />
                        <div class="text-content">
                            <div class="title itim-regular">การแต้งเตือนของระบบ</div>
                            <div class="subtitle itim-regular">รายงาน: อัปเดต</div>
                        </div>
                        <span matBadge="3" matBadgeColor="warn" matBadgeSize="small" class="badge">3</span>
                    </div>
                </mat-card>

                <mat-card class="noti-card" (click)="selectCard(null)">
                    <div class="card-content">
                        <div class="avatar">
                            <i class="fa-solid fa-user-check" style="font-size: 22px; color: black;"></i>
                        </div>
                        <div class="text-content">
                            <div class="title itim-regular">ผู้ติดตามใหม่</div>
                            <div class="subtitle itim-regular">Noti เริ่มติดตามคุณ</div>
                        </div>
                        <span matBadge="1" matBadgeColor="warn" matBadgeSize="small" class="badge">1</span>
                    </div>
                </mat-card>

                <mat-card class="noti-card" (click)="selectCard(null)">
                    <div class="card-content">
                        <i class="fa-solid fa-heart avatar" style="font-size: 32px; color: #e25555;"></i>
                        <div class="text-content">
                            <div class="title itim-regular">ถูกใจ</div>
                            <div class="subtitle itim-regular">Noti ถูกใจโพสต์ของคุณ</div>
                        </div>
                        <span matBadge="2" matBadgeColor="warn" matBadgeSize="small" class="badge">2</span>
                    </div>
                </mat-card>

                <mat-card class="noti-card" (click)="selectCard(null)">
                    <div class="card-content">
                        <i class="fa-solid fa-share avatar" style="font-size: 32px; color: black;"></i>
                        <div class="text-content">
                            <div class="title itim-regular">แชร์</div>
                            <div class="subtitle itim-regular">Noti แชร์โพสตของคุณ</div>
                        </div>
                        <span matBadge="3" matBadgeColor="warn" matBadgeSize="small" class="badge">3</span>
                    </div>
                </mat-card>

                <mat-card class="noti-card" (click)="selectCard(null)">
                    <div class="card-content">
                        <i class="fa-solid fa-comment-dots avatar" style="font-size: 32px; color: black;"></i>
                        <div class="text-content">
                            <div class="title itim-regular">ความคิดเห็น</div>
                            <div class="subtitle itim-regular"> </div>
                        </div>
                        <span matBadge="5" matBadgeColor="warn" matBadgeSize="small" class="badge">5</span>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>

    <!-- ปุ่ม Toggle -->
    <div class="drawer-toggle" [class.open]="isNotiDrawerOpen" (click)="toggleNotiDrawer()">
        <i class="fa-solid" [ngClass]="isNotiDrawerOpen ? 'fa-arrow-left' : 'fa-arrow-right'"></i>
    </div>


    <div class="content-area" *ngIf="selectedCard">
        <h2>{{ selectedCard.title }}</h2>
        <p>{{ selectedCard.description }}</p>
    </div>
</div>