<mat-toolbar class="fixed-toolbar modern-toolbar">
    <a [routerLink]="['']" class="toolbar-logo">
        <img src="../../../assets/images/Logoweb.png" alt="Home Icon" style="width: 60px;" />
    </a>
    <div class="toolbar-center-menu" *ngIf="!isMobile">
        <a class="menu-item" [routerLink]="['']">

            <span>หน้าหลัก</span>
        </a>
        <a class="menu-item" [routerLink]="['/search_main']">
            <span style="color: black;">ค้นหา</span>
        </a>
        <a class="menu-item" routerLinkActive="active" [routerLink]="['/category_main']">
            <span>หมวดหมู่</span>
        </a>
    </div>
    <button routerLink="/login" class="login-link modern-login" *ngIf="!isMobile">
        <i class="material-icons">login</i>
        <span>เข้าสู่ระบบ/สมัครสมาชิก</span>
    </button>
    <button class="toolbar-hamburger" (click)="toggleDrawer()" aria-label="เมนู" *ngIf="isMobile">
        <i class="fa-solid fa-bars"></i>
    </button>
</mat-toolbar>
<!-- Drawer สำหรับ mobile -->
<div class="drawer" [class.open]="isDrawerOpen">
    <div class="drawer-content">
        <h3 style="font-weight: 500; font-size: 30px;">MENU</h3>
        <ul style="list-style: none; padding: 0;">
            <li style="border-bottom: 1px solid #ccc; padding: 10px 0; display: flex; align-items: center; gap: 10px;">
                <i class="fa-solid fa-house" style="font-size: 20px; color: black;"></i>
                <a [routerLink]="['/']" style="text-decoration: none; color: black;">
                    <span>หน้าหลัก</span>
                </a>
            </li>
            <li style="border-bottom: 1px solid #ccc; padding: 10px 0; display: flex; align-items: center; gap: 10px;">
                <i class="fa-solid fa-magnifying-glass" style="font-size: 20px; color: black;"></i>
                <a [routerLink]="['/search_main']" style="text-decoration: none; color: black;">
                    <span>ค้นหา</span>
                </a>
            </li>
            <li style="border-bottom: 1px solid #ccc; padding: 10px 0; display: flex; align-items: center; gap: 10px;">
                <i class="fa-solid fa-bars" style="font-size: 20px; color: black;"></i>
                <a [routerLink]="['/category_main']" style="text-decoration: none; color: black;">
                    <span>หมวดหมู่</span>
                </a>
            </li>
            <li style="border-bottom: 1px solid #ccc; padding: 10px 0; display: flex; align-items: center; gap: 10px;">
                <i class="material-icons" style="font-size: 20px; color: black;">login</i>
                <a [routerLink]="['/login']" style="text-decoration: none; color: black;">
                    <span>เข้าสู่ระบบ/สมัครสมาชิก</span>
                </a>
            </li>
        </ul>
        <button mat-flat-button style="background-color: rgb(226, 124, 150); width: 100px;"
            (click)="toggleDrawer()">ปิด</button>
    </div>
</div>
<div>
    <div style="display: flex; justify-content: center; margin-bottom: 30px; gap: 30px; margin-top: 120px;">
        <a style="text-decoration: none; color: black;">
            <span style="font-size: 22px; ">{{ categoryName }}</span>
        </a>
    </div>

    <div class="card-container-wrapper">
        <div class="card-container">
            <div *ngFor="let post of posts" class="card-wrapper">
                <mat-card class="cardpost">
                    <div style="display: flex; flex-direction: column; position: relative;">

                        <!-- แสดงรูปภาพหรือวิดีโอ -->
                        <a (click)="onCardClick($event)">
                            <ng-container *ngIf="post.media_type === 'image'; else videoTemplate">
                                <img [src]="post.media_url || 'https://via.placeholder.com/360x300'" class="imgpost"
                                    alt="รูปที่โพสต์">
                            </ng-container>
                            <ng-template #videoTemplate>
                                <video [src]="post.media_url" controls class="imgpost">
                                </video>
                            </ng-template>
                        </a>

                        <!-- ไอคอนแสดงว่ามีหลายรูป -->
                        <div *ngIf="post.hasMultipleMedia" class="multiple-media-icon">
                            <i class="fa fa-clone"
                                style="font-size: 30px; color: white; position: absolute; top: 10px; right: 10px; padding: 5px; border-radius: 50%;"></i>
                        </div>

                        <!-- ข้อมูลโพสต์ -->
                        <div
                            style="display: flex; align-items: center; justify-content: space-between; margin-right: 10px;">
                            <span style="margin-left: 15px; margin-right: 15px; margin-top: 10px; font-size: 20px;">
                                {{ post.title | slice:0:15 }}{{ post.title.length > 15 ? '...' : '' }}
                            </span>
                            <div
                                style="display: flex; align-items: center; justify-content: space-between; margin-right: 10px;">
                                <a [routerLink]="['/detail_post']" [queryParams]="{ post_id: post.post_id }"
                                    class="hover-link" style="color: #e96e7e; font-size: 20px; text-decoration: none;">
                                    View
                                </a>
                                <span style="margin-left: 5px; color: rgb(168, 168, 168); margin-top: 5px;">{{
                                    getViewsForPost(post.post_id.toString())}}</span>
                            </div>
                        </div>

                        <!-- ข้อมูลโปรไฟล์ผู้ใช้ -->
                        <div
                            style="display: flex; flex-direction: row; margin-left: 15px; margin-right: 15px; margin-top: 35px; gap: 10px; justify-content: space-between;">
                            <div style="display: flex; align-items: center; gap: 10px;">
                                <a (click)="goToProfile(post.user_uid.toString())">
                                    <img [src]="post.user_profile_image || 'https://via.placeholder.com/50'"
                                        alt="รูปโปรไฟล์"
                                        style="width: 50px; height: 50px; border-radius: 50%; object-fit: cover;">
                                </a>
                                <span style="font-weight: 600; font-size: 20px;">
                                    {{ post.user_name }}
                                </span>
                            </div>

                            <!-- ไอคอนหัวใจสำหรับการกดไลค์ -->
                            <div style="display: flex; gap: 5px; align-items: center;">
                                <i class="fa fa-heart heart-icon" style="font-size: 30px; cursor: pointer;"
                                    (click)=" openDialog()">
                                </i>

                                <span *ngIf="post.likes_count > 0 && post.likes_count !== null"
                                    style="font-weight: 500; font-size: 20px;">
                                    {{ post.likes_count }}
                                </span>
                            </div>
                        </div>
                    </div>
                </mat-card>
                <div *ngIf="isDialogOpen" class="dialog-overlay" (click)="closeDialog()">
                    <div class="dialog-box" (click)="$event.stopPropagation()">
                        <button class="close-button" (click)="closeDialog()">×</button>
                        <img src="../../../assets/images/Logoweb.png" alt="Home Icon" width="140px">
                        <h3>กรุณาเข้าสู่ระบบ/สมัครสมาชิก</h3>
                        <button class="button1" (click)="navigateToLogin()">เข้าสู่ระบบ</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 30px;"></div>
</div>