<mat-toolbar class="fixed-toolbar">
    <!-- Logo ด้านซ้าย -->
    <a [routerLink]="['/HomepageUser']" [queryParams]="{ id: userId }">
        <img src="../../../assets/images/Logoweb.png" alt="Home Icon">
    </a>
    
    <!-- เมนูตรงกลาง -->
    <div class="center-menu" *ngIf="!isMobile">
        <a class="menu-item" [routerLink]="['/HomepageUser']" [queryParams]="{ id: userId}">
            <i class="fa-solid fa-house"></i>
            <span class="itim-regular">หน้าหลัก</span>
        </a>
        <a class="menu-item" [routerLink]="['/Homepagefollow']" [queryParams]="{ id: userId}">
            <i class="fa-solid fa-users"></i>
            <span class="itim-regular">ติดตาม</span>
        </a>
        <a class="add-post-btn" [routerLink]="['/CreatePost']" [queryParams]="{ id: userId}">
            <i class="fa-solid fa-plus"></i>
        </a>
        <a class="menu-item" [routerLink]="['/Notification_user']" [queryParams]="{ id: userId }">
            <i class="fa-solid fa-bell"></i>
            <span class="itim-regular">การแจ้งเตือน</span>
        </a>
        <a class="menu-item" [routerLink]="['/ProfileUser']" [queryParams]="{ id: userId}">
            <i class="fa-solid fa-user"></i>
            <span class="itim-regular">โปรไฟล์</span>
        </a>
    </div>
    
    <!-- เมนูขวาสุด -->
    <div class="toolbar-actions">
        <a [routerLink]="['/search_users']" [queryParams]="{ id: userId }">
            <i class="fa-solid fa-search"></i>
        </a>
        <button class="toolbar-hamburger" (click)="toggleDrawer()" aria-label="เมนู">
            <i class="fa-solid fa-bars"></i>
        </button>
    </div>
</mat-toolbar>

<!-- Drawer Overlay -->
<div class="drawer-overlay" [class.open]="isDrawerOpen" (click)="toggleDrawer()"></div>

<!-- Drawer -->
<div class="drawer" [class.open]="isDrawerOpen">
    <div class="drawer-content">
        <h3>MENU</h3>
        <ul>
            <li>
                <a [routerLink]="['/HomepageUser']" [queryParams]="{ id: userId }">
                    <i class="fa-solid fa-house"></i>
                    <span class="itim-regular">หน้าหลัก</span>
                </a>
            </li>
            <li>
                <a [routerLink]="['/Homepagefollow']" [queryParams]="{ id: userId }">
                    <i class="fa-solid fa-users"></i>
                    <span class="itim-regular">ติดตาม</span>
                </a>
            </li>
            <li>
                <a [routerLink]="['/CreatePost']" [queryParams]="{ id: userId }">
                    <i class="fa-solid fa-plus"></i>
                    <span class="itim-regular">สร้างโพสต์</span>
                </a>
            </li>
            <li>
                <a [routerLink]="['/Notification_user']" [queryParams]="{ id: userId }">
                    <i class="fa-solid fa-bell"></i>
                    <span class="itim-regular">การแจ้งเตือน</span>
                </a>
            </li>
            <li>
                <a [routerLink]="['/ProfileUser']" [queryParams]="{ id: userId }">
                    <i class="fa-solid fa-user"></i>
                    <span class="itim-regular">โปรไฟล์</span>
                </a>
            </li>
            <li>
                <a [routerLink]="['/category']" [queryParams]="{ id: userId }">
                    <i class="fa fa-list"></i>
                    <span class="itim-regular">หมวดหมู่</span>
                </a>
            </li>
            <li>
                <a [routerLink]="['/chat']" [queryParams]="{ id: userId }">
                    <i class="fa fa-comments"></i>
                    <span class="itim-regular">แชท</span>
                </a>
            </li>
            <li>
                <a href="/">
                    <i class="fa fa-sign-out"></i>
                    <span class="itim-regular">ออกจากระบบ</span>
                </a>
            </li>
            <li>
                <button class="drawer-close-btn" (click)="toggleDrawer()">ปิด</button>
            </li>
        </ul>
    </div>
</div>

<div class="background-div">
    <!-- ช่องค้นหา -->
    <div style="display: flex; margin-top: 120px; justify-content: center; margin-bottom: 30px;">
        <div class="search-wrapper">
            <div class="search-container">
                <input type="text" class="search-input" [(ngModel)]="searchQuery" (input)="onSearch()" (keyup.enter)="onSearch()" placeholder="ค้นหาผู้ใช้งาน...">
                <button class="search-btn" (click)="onSearch()" aria-label="ค้นหา">
                    <i class="fa-solid fa-search"></i>
                </button>
            </div>
        </div>
    </div>

    <!-- ปุ่มบัญชีผู้ใช้งาน -->
    <div class="modern-tabs">
        <a class="tab" [routerLink]="['/search_users']" [queryParams]="{ id: userId }" routerLinkActive="active">บัญชีผู้ใช้งาน</a>
        <a class="tab" [routerLink]="['/stest']" [queryParams]="{ id: userId }" routerLinkActive="active">โพสต์</a>
    </div>

    <div class="user-list" *ngIf="searchResults !== null">
        <div *ngIf="searchResults.length > 0; else noResults">
            <div class="user-card" *ngFor="let user of searchResults" (click)="goToProfile(user.uid)">
                <img [src]="user.image_url ? user.image_url : 'https://i.pinimg.com/736x/a8/0e/36/a80e3690318c08114011145fdcfa3ddb.jpg'"
                    alt="Default Profile Picture" class="user-avatar">
                <div class="user-info">
                    <div class="user-name">{{ user.username }}</div>
                    <div class="user-desc" *ngIf="user.description">{{ user.description }}</div>
                    <div class="user-stats">
                        <span>ผู้ติดตาม <b>{{ user.followersCount }}</b></span>
                        <span>•</span>
                        <span>กำลังติดตาม <b>{{ user.followingCount }}</b></span>
                    </div>
                </div>
            </div>
        </div>
        <ng-template #noResults>
            <div *ngIf="isSearchPerformed" class="no-results">
                ไม่พบผู้ใช้งาน
            </div>
        </ng-template>
    </div>
</div>