<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">


<div style="display: flex; align-items: center; justify-content: center; flex-direction: column; ">
    <mat-toolbar class="fixed-toolbar">
        <!-- Logo ด้านซ้าย -->
        <a [routerLink]="['/HomepageUser']" [queryParams]="{ id: this.currentUserId }">
            <img src="../../../assets/images/Logoweb.png" alt="Home Icon" width="80px">
        </a>
        <div style="width: 5%;"></div>
        <!-- เมนูตรงกลาง -->
        <div class="center-menu"
            style="display: flex; flex-grow: 1; justify-content: center; align-items: center; gap: 50px;">
            <div style="display: flex; flex-direction: column; align-items: center;">
                <a [routerLink]="['/HomepageUser']" [queryParams]="{ id: this.currentUserId }">
                    <i style="font-size: 40px; color: black;" class="fa-solid fa-house"></i>
                </a>
                <span class="itim-regular">หน้าหลัก</span>
            </div>
            <div style="display: flex; flex-direction: column; align-items: center;">
                <a [routerLink]="['/Homepagefollow']" [queryParams]="{ id: this.currentUserId}">
                    <i style="font-size: 40px; color: black;" class="fa-solid fa-users"></i>
                </a>
                <span class="itim-regular">ติดตาม</span>
            </div>
            <div style="margin-left: 20px;">
                <a class="add-post-btn" [routerLink]="['/CreatePost']" [queryParams]="{ id: this.currentUserId}">
                    <i class="fa-solid fa-plus"></i>
                </a>
            </div>
            <div class="menu-item" routerLinkActive="active" [routerLink]="['/Notification_user']"
                [queryParams]="{ id: userId }">
                <i style="font-size: 40px; color: black;" class="fa-solid fa-bell"></i>
                <span class="itim-regular">การแจ้งเตือน</span>
            </div>
            <div style="display: flex; flex-direction: column; align-items: center;">
                <a [routerLink]="['/ProfileUser']" [queryParams]="{ id: this.currentUserId }">
                    <i style="font-size: 40px; color: black;" class="fa-solid fa-user"></i>
                </a>
                <span class="itim-regular">โปรไฟล์</span>
            </div>
        </div>
        <!-- เมนูขวาสุด -->
        <div class="toolbar-actions" style="display: flex; align-items: center; gap: 16px;">
            <!-- ค้นหา -->
            <div style="display: flex; flex-direction: column; align-items: center;">
                <a [routerLink]="['/search_users']" [queryParams]="{ id: this.currentUserId }">
                    <i style="font-size: 30px; color: black;" class="fa-solid fa-search"></i>
                </a>
            </div>
            <!-- ไอคอนเมนู -->
            <div style="display: flex; flex-direction: column; align-items: center; margin-left: 10px;">
                <a href="javascript:void(0)" (click)="toggleDrawer()">
                    <i style="font-size: 30px; color: black; margin-right: 10px;" class="fa-solid fa-bars"></i>
                </a>
            </div>
        </div>
        <!-- Drawer -->
        <div class="drawer" [class.open]="isDrawerOpen">
            <div class="drawer-content">
                <h3 style="font-weight: 500; font-size: 30px;">MENU</h3>
                <ul style="list-style: none; padding: 0;">
                    <!-- เมนูหลัก (ซ้ำกับ center-menu เพื่อรองรับจอเล็ก) -->
                    <li
                        style="border-bottom: 1px solid #ccc; padding: 10px 0; display: flex; align-items: center; gap: 10px;">
                        <i class="fa-solid fa-house" style="font-size: 20px; color: black;"></i>
                        <a [routerLink]="['/HomepageUser']" [queryParams]="{ id: this.currentUserId }"
                            style="text-decoration: none; color: black;">
                            <span class="itim-regular">หน้าหลัก</span>
                        </a>
                    </li>
                    <li
                        style="border-bottom: 1px solid #ccc; padding: 10px 0; display: flex; align-items: center; gap: 10px;">
                        <i class="fa-solid fa-users" style="font-size: 20px; color: black;"></i>
                        <a [routerLink]="['/Homepagefollow']" [queryParams]="{ id: this.currentUserId }"
                            style="text-decoration: none; color: black;">
                            <span class="itim-regular">ติดตาม</span>
                        </a>
                    </li>
                    <li
                        style="border-bottom: 1px solid #ccc; padding: 10px 0; display: flex; align-items: center; gap: 10px;">
                        <i class="fa-solid fa-plus" style="font-size: 20px; color: black;"></i>
                        <a [routerLink]="['/CreatePost']" [queryParams]="{ id: this.currentUserId }"
                            style="text-decoration: none; color: black;">
                            <span class="itim-regular">สร้างโพสต์</span>
                        </a>
                    </li>
                    <li
                        style="border-bottom: 1px solid #ccc; padding: 10px 0; display: flex; align-items: center; gap: 10px;">
                        <i class="fa-solid fa-bell" style="font-size: 20px; color: black;"></i>
                        <a [routerLink]="['/Notification_user']" [queryParams]="{ id: this.currentUserId }"
                            style="text-decoration: none; color: black;">
                            <span class="itim-regular">การแจ้งเตือน</span>
                        </a>
                    </li>
                    <li
                        style="border-bottom: 1px solid #ccc; padding: 10px 0; display: flex; align-items: center; gap: 10px;">
                        <i class="fa-solid fa-user" style="font-size: 20px; color: black;"></i>
                        <a [routerLink]="['/ProfileUser']" [queryParams]="{ id: this.currentUserId }"
                            style="text-decoration: none; color: black;">
                            <span class="itim-regular">โปรไฟล์</span>
                        </a>
                    </li>
                    <!-- หมวดหมู่ -->
                    <li
                        style="border-bottom: 1px solid #ccc; padding: 10px 0; display: flex; align-items: center; gap: 10px;">
                        <i class="fa fa-list" style="font-size: 20px; color: black;"></i>
                        <a [routerLink]="['/category']" [queryParams]="{ id: this.currentUserId }"
                            style="text-decoration: none; color: black;">
                            <span class="itim-regular">หมวดหมู่</span>
                        </a>
                    </li>
                    <!-- แชท -->
                    <li
                        style="border-bottom: 1px solid #ccc; padding: 10px 0; display: flex; align-items: center; gap: 10px;">
                        <i class="fa fa-comments" style="font-size: 20px; color: black;"></i>
                        <a [routerLink]="['/chat']" [queryParams]="{ id: this.currentUserId }"
                            style="text-decoration: none; color: black;">
                            <span class="itim-regular">แชท</span>
                        </a>
                    </li>
                    <!-- ออกจากระบบ -->
                    <li
                        style="border-bottom: 1px solid #ccc; padding: 10px 0; display: flex; align-items: center; gap: 10px;">
                        <i class="fa fa-sign-out" style="font-size: 20px; color: black;"></i>
                        <a href="/" style="text-decoration: none; color: black;">
                            <span class="itim-regular">ออกจากระบบ</span>
                        </a>
                    </li>
                </ul>
                <button mat-flat-button style="background-color: rgb(226, 124, 150); width: 100px;"
                    (click)="toggleDrawer()">ปิด</button>
            </div>
        </div>
    </mat-toolbar>
    <div *ngIf="post" class="divpost">
        <!-- ส่วนแสดงโปรไฟล์ผู้ใช้ -->
        <div class="profile-section">
            <div class="profile-info">
                <img class="profile-avatar"
                    [src]="post.user_profile_image || 'https://i.pinimg.com/736x/a8/0e/36/a80e3690318c08114011145fdcfa3ddb.jpg'"
                    alt="รูปโปรไฟล์" (click)="goToProfile(post.user_uid.toString())">
                <div class="profile-details">
                    <span class="profile-name">{{post.user_name}}</span>
                    <span class="profile-time">{{post.post_time | timeAgo}}</span>
                    <ng-container *ngIf="post.location">
                        <!-- มือถือ -->
                        <div class="profile-location mobile-location">
                            <i class="fa-solid fa-location-dot"></i>
                            <span>
                                Location:
                                <a class="location" [href]="post.location" target="_blank">
                                    {{ post.location.length > 20 ? (post.location.substring(0, 20) + '...') :
                                    post.location }}
                                </a>
                            </span>
                        </div>
                        <!-- เดสก์ท็อป/แท็บเล็ต -->
                        <div class="profile-location desktop-location">
                            <i class="fa-solid fa-location-dot"></i>
                            <span>
                                Location:
                                <a class="location" [href]="post.location" target="_blank">
                                    {{ post.location.length > 30 ? (post.location.substring(0, 30) + '...') :
                                    post.location }}
                                </a>
                            </span>
                        </div>
                    </ng-container>
                </div>
            </div>
            <a mat-button [matMenuTriggerFor]="menu" class="profile-menu-btn">
                <svg xmlns="http://www.w3.org/2000/svg" height="30" viewBox="0 0 24 24" width="30" fill="black">
                    <circle cx="12" cy="5" r="2"></circle>
                    <circle cx="12" cy="12" r="2"></circle>
                    <circle cx="12" cy="19" r="2"></circle>
                </svg>
            </a>
            <mat-menu #menu="matMenu">
                <button mat-menu-item *ngIf="post.user_uid === +userId" (click)="deletePost(post.post_id)">
                    <i style="margin-right: 5px; font-size: 20px; color: rgb(87, 73, 75);"
                        class="fa-solid fa-trash"></i>
                    <span style="font-size: 15px;">ลบโพสต์</span>
                </button>
                <button mat-menu-item *ngIf="post.user_uid === +userId" (click)="editPost()">
                    <i style="margin-right: 5px; font-size: 20px; color: rgb(87, 73, 75);"
                        class="fa-solid fa-pen-to-square"></i>
                    <span style="font-size: 15px;">แก้ไขโพสต์</span>
                </button>
                <button mat-menu-item *ngIf="post.user_uid !== +userId" (click)="openReportDialog(post.post_id)">
                    <i style="margin-right: 5px; font-size: 20px; color: rgb(87, 73, 75);" class="fa fa-flag"></i>
                    <span style="font-size: 15px;">รายงานโพสต์</span>
                </button>
            </mat-menu>
        </div>

        <div *ngIf="post" class="media-slider" (mouseenter)="showControls()" (mouseleave)="hideControls()"
            (touchstart)="onTouchStart($event)" (touchmove)="onTouchMove($event)" (touchend)="onTouchEnd($event)"
            style="touch-action: pan-y pinch-zoom;">
            <div class="media-container" style="position: relative;">
                <ng-container *ngIf="post.images.length || post.videos.length; else noMedia">
                    <div *ngIf="currentMediaIndex >= 0 && currentMedia">
                        <ng-container *ngIf="currentMedia.type === 'image'; else videoTemplate">
                            <img [src]="currentMedia.url" alt="โพสต์รูปภาพ"
                                style="width: 800px; height: 750px; object-fit: cover; margin-bottom: 10px; touch-action: pan-y pinch-zoom;">
                        </ng-container>
                        <ng-template #videoTemplate>
                            <video [src]="currentMedia.url" controls
                                style="width: 800px; height: 750px; object-fit: cover; background-color: black; margin-bottom: 10px; touch-action: pan-y pinch-zoom;"></video>
                        </ng-template>
                    </div>
                </ng-container>

                <ng-template #noMedia>
                    <div class="no-media-placeholder">
                        <i class="fa fa-image" style="font-size: 48px; color: #ccc;"></i>
                        <p style="color: #999; margin-top: 10px;">ไม่มีรูปภาพหรือวิดีโอ</p>
                    </div>
                </ng-template>

                <!-- ปุ่มเลื่อน (Previous/Next) -->
                <div class="slider-controls" *ngIf="(post.images.length + post.videos.length) > 1">
                    <button (click)="prevMedia()" class="prev-btn" style="touch-action: manipulation;"
                        [disabled]="currentMediaIndex === 0">❮</button>
                    <button (click)="nextMedia()" class="next-btn" style="touch-action: manipulation;"
                        [disabled]="currentMediaIndex === (post.images.length + post.videos.length - 1)">❯</button>
                </div>

                <!-- แสดงสถานะการเลื่อน (จำนวนรูป/วิดีโอ) -->
                <div class="media-indicator" *ngIf="(post.images.length + post.videos.length) > 1">
                    <span class="indicator-text">{{ currentMediaIndex + 1 }} / {{ post.images.length +
                        post.videos.length }}</span>
                </div>
            </div>
        </div>

        <div style="display: flex; flex-direction: row; gap: 5px; align-items: center; margin-left: 15px; margin-right: 15px;
        margin-top: 15px; margin-bottom: 15px; justify-content: space-between;">
            <div style="display: flex; gap: 20px;">
                <div style="display: flex; gap: 5px; align-items: center;">
                    <i class="fa fa-heart heart-icon" [class.liked]="post.isLiked" (click)="toggleHeart(post)"
                        style="font-size: 40px; cursor: pointer;">
                    </i>

                    <span *ngIf="post.likes_count > 0 && post.likes_count !== null"
                        style="font-weight: 500; font-size: 25px;">
                        {{ post.likes_count }}
                    </span>
                </div>
                <div style="display: flex; align-items: center; gap: 5px;">
                    <i style="font-size: 40px; cursor: pointer;" class="fa-regular fa-comment"
                        (click)="toggleShowComments()"></i>
                    <span *ngIf="comments.length > 0" style="font-weight: 500; font-size: 25px;">{{ comments.length
                        }}</span>
                </div>
                <i style="font-size: 40px; cursor: pointer;" class="fa-solid fa-share" (click)="sharePost()"
                    [ngClass]="{ 'shared': isShared, 'not-shared': !isShared }">
                </i>

            </div>
            <i style="font-size: 30px; cursor: pointer;" class="fa-regular fa-bookmark"
                [ngClass]="{ 'saved': isSave, 'not-saved': !isSave }" (click)="toggleSavePost()"></i>
        </div>
        <div class="post-content">
            <span *ngIf="!isEditing" [innerHTML]="post.title | newlineToBr"></span>
        </div>

        <!-- ฟอร์มแก้ไข -->
        <div *ngIf="isEditing" style="margin-top: 15px;">
            <textarea [(ngModel)]="title" rows="4" cols="50" class="edit-textarea"></textarea>
            <div
                style="display: flex; justify-content: flex-end; margin-top: 10px; gap: 10px; margin-bottom: 15px; margin-right: 10px;">
                <button mat-button style="color: rgb(33, 135, 224); font-size: 18px;"
                    (click)="saveEditedPost()">บันทึก</button>
                <button mat-button style="font-size: 16px; background-color: rgb(204, 60, 60); color: aliceblue;"
                    (click)="cancelEdit()">ยกเลิก</button>
            </div>
        </div>

        <!-- คอมเมนต์ -->
        <div *ngFor="let comment of (showAllComments ? comments : comments.slice(0, 2))" style="margin-bottom: 20px;">
            <div class="comment-content">
                <div style="display: flex; gap: 15px;">
                    <img style="width: 60px; height: 60px; object-fit: cover; border-radius: 50%; cursor: pointer;"
                        [src]="comment.image_url || 'https://i.pinimg.com/736x/a8/0e/36/a80e3690318c08114011145fdcfa3ddb.jpg'"
                        alt="" (click)="goToProfile(comment.uid)">
                    <div class="comment-details">
                        <div style="margin-bottom: 5px;">
                            <span style="font-size: 20px; font-weight: 500;" title="username">{{ comment.username
                                }}</span>

                            <span style="margin-left: 10px; color: #949090;">{{ comment.date_time | timeAgo }}</span>
                        </div>
                        <span
                            style="font-size: 20px; white-space: pre-line; word-wrap: break-word; word-break: break-word;"
                            title="comment">{{ comment.title }}</span>
                    </div>
                </div>
                <button mat-icon-button [matMenuTriggerFor]="menu2" class="comment-menu-btn">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu2="matMenu">
                    <button mat-menu-item *ngIf="comment.uid === +userId" (click)="deleteComment(comment.cid)">
                        <i style="margin-right: 5px; font-size: 20px; color: rgb(87, 73, 75);"
                            class="fa-solid fa-trash"></i>
                        ลบ
                    </button>
                    <button mat-menu-item *ngIf="comment.uid !== +userId"
                        (click)="openReportCommentDialog(comment.cid)">
                        <i style="margin-right: 5px; font-size: 20px; color: rgb(87, 73, 75);" class="fa fa-flag"></i>
                        <span style="font-size: 15px;">รายงานความคิดเห็น</span>
                    </button>
                </mat-menu>
            </div>
        </div>

        <!-- ปุ่มแสดงคอมเมนต์เพิ่มเติม -->
        <div *ngIf="comments.length > 2" style="margin-bottom: 10px; margin-left: 10px;">
            <button mat-button (click)="toggleShowComments()" style=" color: #7e7776;">
                {{ showAllComments ? 'แสดงคอมเมนต์น้อยลง' : 'แสดงคอมเมนต์เพิ่มเติม' }}
            </button>
        </div>

        <!-- คอมเมนต์ -->
        <div class="comment-input-box">
            <div style="position: relative; width: 100%; display: flex; align-items: center;">
                <input #commentInput
                    style="width: 100%; border-radius: 20px; height: 50px; font-size: 20px; border: none; background-color: #f0f0f0; padding: 10px; padding-right: 40px;"
                    type="text" placeholder="เพิ่มความคิดเห็น" (keydown.enter)="onSubmitComment(commentInput.value)" />
                <button (click)="onSubmitComment(commentInput.value)"
                    style="position: absolute; right: 10px; background: none; border: none; color: #423534; font-size: 30px; cursor: pointer;">
                    <i class="fas fa-paper-plane"></i>
                </button>
            </div>
        </div>

    </div>
</div>