<div>
    <h2 mat-dialog-title>รายงานโพสต์</h2>
    <mat-dialog-content >
        <mat-form-field appearance="fill"  class="report">
            <mat-label>กรุณาระบุเหตุผล</mat-label>
            <textarea matInput [(ngModel)]="reason" rows="4"></textarea>
        </mat-form-field>
    </mat-dialog-content>
</div>

<mat-dialog-actions align="end" class="pt-4 space-x-2">
  <button mat-stroked-button color="basic" style="height: 30px;" (click)="onCancel()">ยกเลิก</button>
  <button mat-flat-button style="background: rgb(54, 54, 177); color: antiquewhite;  height: 30px;" (click)="onSubmit()" [disabled]="!reason">
    ส่งรายงาน
  </button>
</mat-dialog-actions>
