<div class="background-div">
    <mat-toolbar class="fixed-toolbar">

        <!-- Logo ด้านซ้าย -->
        <a [routerLink]="['/HomepageUser']" [queryParams]="{ id: userId }">
            <img src="https://shorturl.asia/2pOd3" alt="Home Icon" width="80px">
        </a>
        <div style="width: 10%;"></div>
        <!-- เมนูตรงกลาง -->
        <div style="display: flex; flex-grow: 1; justify-content: center; align-items: center;">
            <div style="display: flex; justify-content: center; align-items: center; gap: 50px;">

                <div style="display: flex; flex-direction: column; align-items: center;">
                    <a [routerLink]="['/HomepageUser']" [queryParams]="{ id: userId }">
                        <i style="font-size: 40px; color: black;" class="fa-solid fa-house"></i>
                    </a>
                    <span class="itim-regular">หน้าหลัก</span>
                </div>

                <div style="display: flex; flex-direction: column; align-items: center;">
                    <a [routerLink]="['/Homepagefollow']" [queryParams]="{ id: userId }">
                        <i style="font-size: 40px; color: black;" class="fa-solid fa-users"></i>
                    </a>
                    <span class="itim-regular">ติดตาม</span>
                </div>

                <div>
                    <a [routerLink]="['/CreatePost']" [queryParams]="{ id: userId }"><img
                            src="https://shorturl.asia/ngKuG" alt="" width="60px"></a>
                </div>

                <!-- การแจ้งเตือน -->
                <div style="display: flex; flex-direction: column; align-items: center;">
                    <a [routerLink]="['/Notification_user']" [queryParams]="{ id: userId }">
                        <i style="font-size: 40px; color: black;" class="fa-solid fa-bell"></i>
                    </a>
                    <span class="itim-regular">การแจ้งเตือน</span>
                </div>

                <!-- โปรไฟล์ -->
                <div class="menu-item" routerLinkActive="active" [routerLink]="['/ProfileUser']"
                    [queryParams]="{ id: userId }">
                    <i style="font-size: 40px; color: black;" class="fa-solid fa-user"></i>
                    <span class="itim-regular">โปรไฟล์</span>
                </div>
            </div>
        </div>

        <!-- ช่องค้นหา -->
        <div class="search-container">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" class="search-input" placeholder="ค้นหา...">
        </div>

        <!-- ไอคอนเมนู -->
        <div style="display: flex; flex-direction: column; align-items: center; margin-left: 20px;">
            <a href="javascript:void(0)" (click)="toggleDrawer()">
                <i style="font-size: 40px; color: black;" class="fa-solid fa-bars"></i>
            </a>
        </div>

        <!-- Drawer -->
        <div class="drawer" [class.open]="isDrawerOpen">
            <div class="drawer-content">
                <h3 style="font-weight: 500; font-size: 30px;">MENU</h3>
                <ul style="list-style: none; padding: 0;">
                    <!-- หมวดหมู่ -->
                    <li
                        style="border-bottom: 1px solid #ccc; padding: 10px 0; display: flex; align-items: center; gap: 10px;">
                        <i class="fa fa-list" style="font-size: 20px; color: black;"></i>
                        <a [routerLink]="['/category']" [queryParams]="{ id: userId }"
                            style="text-decoration: none; color: black;">
                            <span class="itim-regular">หมวดหมู่</span>
                        </a>
                    </li>
                    <!-- ออกจากระบบ -->
                    <li
                        style="border-bottom: 1px solid #ccc; padding: 10px 0; display: flex; align-items: center; gap: 10px;">
                        <i class="fa fa-sign-out" style="font-size: 20px; color: black;"></i>
                        <a href="/login" style="text-decoration: none; color: black;">
                            <span class="itim-regular">ออกจากระบบ</span>
                        </a>
                    </li>
                </ul>
                <button mat-flat-button style="background-color: rgb(226, 124, 150); width: 100px;"
                    (click)="toggleDrawer()">ปิด</button>
            </div>
        </div>
    </mat-toolbar>
    <div style="display: flex; flex-direction: column; margin-top: 170px;">

        <div style="display: flex; flex-direction: row; justify-content: center;">
            <div style="display: flex; flex-direction: row; gap: 180px;">
                <!-- รูปโปรไฟล์ -->
                <img [src]="user?.image_url || ''" alt="Profile Picture"
                    style="width: 250px; height: 250px;  border-radius: 50%; object-fit: cover;" >

                <!-- ข้อมูลผู้ใช้ -->
                <div style="display: flex; flex-direction: column;">
                    <div style="display: flex; flex-direction: row; gap: 30px;">
                        <!-- ชื่อผู้ใช้ -->
                        <span style="font-size: 30px;">{{ user?.username || 'Username' }}</span>
                        <button class="buttonEdit">
                            <span style="font-weight: 500;">แก้ไขโปรไฟล์</span>
                        </button>
                    </div>

                    <div style="display: flex; flex-direction: row; margin-top: 30px; gap: 60px;">
                        <!-- จำนวนโพสต์ -->
                        <div style="display: flex; flex-direction: column; align-items: center;">
                            <span style="font-size: 25px; font-weight: 500;">1</span>
                            <span style="font-size: 20px;">จำนวนโพสต์</span>
                        </div>

                        <!-- กำลังติดตาม -->
                        <div style="display: flex; flex-direction: column; align-items: center;">
                            <span style="font-size: 25px; font-weight: 500;">2</span>
                            <span style="font-size: 20px;">กำลังติดตาม</span>
                        </div>

                        <!-- ผู้ติดตาม -->
                        <div style="display: flex; flex-direction: column; align-items: center;">
                            <span style="font-size: 25px; font-weight: 500;">220</span>
                            <span style="font-size: 20px;">ผู้ติดตาม</span>
                        </div>
                    </div>

                    <!-- Description -->
                    <span style="margin-top: 30px; font-size: 17px;">
                        {{ user?.description || '' }}
                    </span>
                </div>
            </div>
        </div>
        <div style="display: flex; justify-content: center; align-items: center; margin-top: 50px; z-index: 1;">
            <mat-tab-group style="width: 70%;">
                <!-- โพสต์ของผู้ใช้ -->
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon>apps</mat-icon>
                    </ng-template>
                    <div class="post-grid">
                        <div *ngFor="let post of posts" class="post-item">
                          <div>
                            <!-- แสดงรูปภาพหรือวิดีโอ -->
                            <a [routerLink]="['/detail_post']" [queryParams]="{ post_id: post.post_id, user_id: userId }">
                              <img *ngIf="post.media_type === 'image'"
                                   [src]="post.firstMediaUrl || 'https://via.placeholder.com/350x300'"
                                   alt="รูปที่โพสต์" class="post-image">
                              <video *ngIf="post.media_type === 'video'" [src]="post.firstMediaUrl" controls
                                   class="post-video"></video>
                            </a>
                      
                            <!-- ไอคอนแสดงว่ามีหลายรูป -->
                            <div *ngIf="post.hasMultipleMedia" class="multiple-media-icon">
                                <i class="fa fa-clone"
                                   style="font-size: 30px; color: white; position: absolute; top: 10px; right: 10px; padding: 5px; border-radius: 50%;"></i>
                            </div>
                          </div>
                        </div>
                      </div>                      
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon>share</mat-icon>
                    </ng-template>
                    <div class="post-grid">
                        <div *ngFor="let post of sharedPosts" class="post-item">
                          <div>
                            <!-- แสดงรูปภาพหรือวิดีโอ -->
                            <a [routerLink]="['/detail_post']" [queryParams]="{ post_id: post.post_id, user_id: userId }">
                              <img *ngIf="post.media_type === 'image'"
                                   [src]="post.firstMediaUrl || 'https://via.placeholder.com/350x300'"
                                   alt="รูปที่โพสต์" class="post-image">
                              <video *ngIf="post.media_type === 'video'" [src]="post.firstMediaUrl" controls
                                   class="post-video"></video>
                            </a>
                      
                            <!-- ไอคอนแสดงว่ามีหลายรูป -->
                            <div *ngIf="post.hasMultipleMedia" class="multiple-media-icon">
                              <i class="fa fa-clone"
                                 style="font-size: 30px; color: white; position: absolute; top: 10px; right: 10px; padding: 5px; border-radius: 50%;"></i>
                            </div>
                          </div>
                        </div>
                      </div>                      
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon>bookmark</mat-icon>
                    </ng-template>
                    <div class="post-grid">
                        <div *ngFor="let post of savePosts" class="post-item">
                          <div>
                            <!-- แสดงรูปภาพหรือวิดีโอ -->
                            <a [routerLink]="['/detail_post']" [queryParams]="{ post_id: post.post_id, user_id: userId }">
                              <img *ngIf="post.media_type === 'image'"
                                   [src]="post.firstMediaUrl || ''"
                                   alt="รูปที่โพสต์" class="post-image">
                              <video *ngIf="post.media_type === 'video'" [src]="post.firstMediaUrl" controls
                                   class="post-video"></video>
                            </a>
                      
                            <!-- ไอคอนแสดงว่ามีหลายรูป -->
                            <div *ngIf="post.hasMultipleMedia" class="multiple-media-icon">
                              <i class="fa fa-clone"
                                 style="font-size: 30px; color: white; position: absolute; top: 10px; right: 10px; padding: 5px; border-radius: 50%;"></i>
                            </div>
                          </div>
                        </div>
                      </div>      
                </mat-tab>
            </mat-tab-group>
        </div>

    </div>

</div>