<link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">

<body>
  <!-- ปุ่มกลับหน้าหลัก มุมบนซ้าย -->
  <div class="home-button-container">
    <a [routerLink]="['/']" class="home-button">
      <i style="color: rgb(218, 114, 145);" class="fa fa-home"></i>
      <span class="home-text" *ngIf="!isMobile">หน้าหลัก</span>
    </a>
  </div>

  <div class="login-title-row">
    <span class="itim-regular login-title">เข้าสู่ระบบ</span>
  </div>
  <div class="login-main-container">
    <!-- กล่องซ้าย -->
    <div class="login-left-box">
      <p class="itim-regular2 login-welcome" *ngIf="!isMobile">ยินดีต้อนรับเข้าสู่ระบบ</p>
      <div style="width: 40%;">

        <a href=""> <img style="width: 100%;" src="../../../assets/images/Logoweb.png" alt="Logo" class="login-logo"></a>
      </div>
      <span class="itim-regular login-desc" *ngIf="!isMobile">เว็บไซต์ที่ทำให้คุณเพลิดเพลิน กับการแลกเปลี่ยนทริคความรู้</span>
      <span class="itim-regular login-desc" *ngIf="!isMobile">แชร์ประสบการณ์ กับผู้คนมากมาย</span>
    </div>
    <!-- กล่องขวา -->
    <div class="login-right-box">
      <form (ngSubmit)="login()" class="login-form">
        <div>
          <span class="itim-regular login-label">อีเมล/ชื่อผู้ใช้(E-mail/Username)</span>
          <div class="input-container password-container">
            <input type="text" [(ngModel)]="identifier" name="identifier" placeholder="กรอกอีเมล หรือ ชื่อผู้ใช้" required />
          </div>
        </div>
        <div class="login-password-row">
          <span class="itim-regular login-label">รหัสผ่าน (Password)</span>
          <div class="input-container password-container">
            <input [type]="isPasswordVisible ? 'text' : 'password'" [(ngModel)]="password" name="password" placeholder="กรอกรหัสผ่าน" required />
            <button type="button" (click)="togglePasswordVisibility()" class="toggle-password-btn">
              <i [class]="isPasswordVisible ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
            </button>
          </div>
        </div>
        <div class="login-register-row">
          <span class="itim-regular">ยังไม่มีบัญชีผู้ใช้ใช่หรือไม่?</span>
          <a href="/register" class="itim-regular login-register-link">สมัครสมาชิก</a>
        </div>
        <button class="styled-button" type="submit">
          <span class="itim-regular">เข้าสู่ระบบ</span>
        </button>
      </form>
    </div>
  </div>
</body>

