<div class="background-div">
    <mat-toolbar
        style="background-color: rgb(233, 135, 135); height: 90px; display: flex; align-items: center; justify-content: space-between;">

        <a [routerLink]="['/HomepageUser']" [queryParams]="{ id: userId }">
            <img src="https://shorturl.asia/2pOd3" alt="Home Icon" width="80px">
        </a>

        <div style="display: flex; flex-grow: 1; justify-content: center; align-items: center;">
            <div style="display: flex; justify-content: center; align-items: center; gap: 60px;">

                <div style="display: flex; flex-direction: column; align-items: center;">
                    <a href="">
                        <i style="font-size: 40px; color: black;" class="fa-solid fa-house"></i>
                    </a>
                    <span class="itim-regular">หน้าหลัก</span>
                </div>

                <div style="display: flex; flex-direction: column; align-items: center;">
                    <a href="">
                        <i style="font-size: 40px; color: black;" class="fa-solid fa-magnifying-glass"></i>
                    </a>
                    <span class="itim-regular">ติดตาม</span>
                </div>

                <div style="display: flex; flex-direction: column; align-items: center;">
                    <a href="">
                        <i style="font-size: 40px; color: black;" class="fa-solid fa-bars"></i>
                    </a>
                    <span class="itim-regular">หมวดหมู่</span>
                </div>
            </div>
        </div>

        <div style="width: 80px;"></div>
    </mat-toolbar>
</div>
