<mat-toolbar class="fixed-toolbar">
    <!-- Logo ด้านซ้าย -->
    <a [routerLink]="['/HomepageUser']" [queryParams]="{ id: userId }">
        <img src="../../../assets/images/Logoweb.png" alt="Home Icon">
    </a>
    
    <!-- เมนูตรงกลาง -->
    <div class="center-menu" *ngIf="!isMobile">
        <a class="menu-item" [routerLink]="['/HomepageUser']" [queryParams]="{ id: userId}">
            <i class="fa-solid fa-house"></i>
            <span class="itim-regular">หน้าหลัก</span>
        </a>
        <a class="menu-item" [routerLink]="['/Homepagefollow']" [queryParams]="{ id: userId}">
            <i class="fa-solid fa-users"></i>
            <span class="itim-regular">ติดตาม</span>
        </a>
        <a class="add-post-btn" [routerLink]="['/CreatePost']" [queryParams]="{ id: userId}" matTooltip="เพิ่มโพสต์">
            <i class="fa-solid fa-plus"></i>
        </a>
        <a class="menu-item" [routerLink]="['/Notification_user']" [queryParams]="{ id: userId }">
            <div class="bell-icon-container">
            <i class="fa-solid fa-bell"></i>
                <div class="notification-dot" *ngIf="notificationCounts.total > 0"></div>
            </div>
            <span class="itim-regular">การแจ้งเตือน</span>
        </a>
        <a class="menu-item" [routerLink]="['/ProfileUser']" [queryParams]="{ id: userId}">
            <i class="fa-solid fa-user"></i>
            <span class="itim-regular">โปรไฟล์</span>
        </a>
    </div>
    
    <!-- เมนูขวาสุด -->
    <div class="toolbar-actions">
        <a [routerLink]="['/search_users']" [queryParams]="{ id: userId }">
            <i class="fa-solid fa-search"></i>
        </a>
        <button class="toolbar-hamburger" (click)="toggleDrawer()" aria-label="เมนู">
            <i class="fa-solid fa-bars"></i>
        </button>
    </div>
</mat-toolbar>

<!-- Drawer Overlay -->
<div class="drawer-overlay" [class.open]="isDrawerOpen" (click)="toggleDrawer()"></div>

<!-- Drawer -->
<div class="drawer" [class.open]="isDrawerOpen">
    <div class="drawer-content">
        <h3>MENU</h3>
        <ul>
            <li>
                <a [routerLink]="['/HomepageUser']" [queryParams]="{ id: userId }">
                    <i class="fa-solid fa-house"></i>
                    <span class="itim-regular">หน้าหลัก</span>
                </a>
            </li>
            <li>
                <a [routerLink]="['/Homepagefollow']" [queryParams]="{ id: userId }">
                    <i class="fa-solid fa-users"></i>
                    <span class="itim-regular">ติดตาม</span>
                </a>
            </li>
            <li>
                <a [routerLink]="['/CreatePost']" [queryParams]="{ id: userId }">
                    <i class="fa-solid fa-plus"></i>
                    <span class="itim-regular">สร้างโพสต์</span>
                </a>
            </li>
            <li>
                <a [routerLink]="['/Notification_user']" [queryParams]="{ id: userId }">
                    <div class="bell-icon-container">
                    <i class="fa-solid fa-bell"></i>
                        <div class="notification-dot" *ngIf="notificationCounts.total > 0"></div>
                    </div>
                    <span class="itim-regular">การแจ้งเตือน</span>
                </a>
            </li>
            <li>
                <a [routerLink]="['/ProfileUser']" [queryParams]="{ id: userId }">
                    <i class="fa-solid fa-user"></i>
                    <span class="itim-regular">โปรไฟล์</span>
                </a>
            </li>
            <li>
                <a [routerLink]="['/category']" [queryParams]="{ userId }">
                    <i class="fa fa-list"></i>
                    <span class="itim-regular">หมวดหมู่</span>
                </a>
            </li>
            <li>
                <a [routerLink]="['/chat']" [queryParams]="{ id: userId }">
                    <i class="fa fa-comments"></i>
                    <span class="itim-regular">แชท</span>
                </a>
            </li>
            <li>
                <a (click)="logout()" style="cursor:pointer;">
                    <i class="fa fa-sign-out"></i>
                    <span class="itim-regular">ออกจากระบบ</span>
                </a>
            </li>
            <li>
                <button class="drawer-close-btn" (click)="toggleDrawer()">ปิด</button>
            </li>
        </ul>
    </div>
</div>
<div>
    <div class="page-content">


        <div class="category-container">
            <div class="category-row">
                <div class="category-col">
                    <a [routerLink]="['/Post_Cosmetics']" [queryParams]="{ id: userId }">
                        <img class="hover-img" src="../../../assets/images/istockphoto.jpg" alt="">
                    </a>
                    <p class="category-label">เครื่องสำอาง</p>
                </div>
                <div class="category-col">
                    <a [routerLink]="['/Post_Fashion']" [queryParams]="{ id: userId }">
                        <img class="hover-img"
                            src="https://i.pinimg.com/736x/c1/51/cd/c151cdffa326596504b10c6bd98a9958.jpg" alt="">
                    </a>
                    <p class="category-label">แฟชั่น</p>
                </div>
                <div class="category-col">
                    <a [routerLink]="['/Post_Skincare']" [queryParams]="{ id: userId }">
                        <img class="hover-img" src="../../../assets/images/skincare.jpg" alt="">
                    </a>
                    <p class="category-label">สกินแคร์</p>
                </div>
            </div>

            <div class="category-row-bottom">
                <div class="category-col">
                    <a [routerLink]="['/Post_Food']" [queryParams]="{ id: userId }">
                        <img class="hover-img" src="../../../assets/images/food.jpg" alt="">
                    </a>
                    <p class="category-label">อาหาร</p>
                </div>
                <div class="category-col">
                    <a [routerLink]="['/Post_Health']" [queryParams]="{ id: userId }">
                        <img class="hover-img" src="../../../assets/images/woman.jpg" alt="">
                    </a>
                    <p class="category-label">สุขภาพ</p>
                </div>
                <div class="category-col">
                    <a [routerLink]="['/Post_Travel']" [queryParams]="{ id: userId }">
                        <img class="hover-img"
                            src="https://i.pinimg.com/736x/3c/39/7a/3c397a110bed100bf40ccd76ad94c922.jpg" alt="">
                    </a>
                    <p class="category-label">ท่องเที่ยว</p>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 40px;"></div>
</div>