:host,
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(249, 241, 239);
  /* สีพื้นหลัง */
  box-sizing: border-box;
  /* คำนวณขนาดไม่เกินขอบ */
  overflow-x: hidden;
  /* ปิดการเลื่อนแนวนอน */
}

:host {
    display: block;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    /* ครอบคลุมความสูงเต็มหน้าจอ */
    background-color: rgb(249, 241, 239);
    /* สีพื้นหลัง */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  body {
    overflow-y: auto;
    /* เปิดใช้งานการเลื่อนแนวตั้ง */
    background-color: rgb(249, 241, 239);
    /* สีพื้นหลังเหมือนกัน */
  }

  .fixed-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(233, 135, 135);
    height: 90px;
    width: 100%;
    z-index: 1;
    /* Ensure it is above other content */
  }
  

.drawer {
    position: fixed;
    top: 0;
    right: -300px;
    /* ซ่อน Drawer ทางขวา */
    width: 300px;
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: right 0.3s ease;
    /* เพิ่ม Transition */
    z-index: 1000;
  }
  
  /* Drawer เปิด */
  .drawer.open {
    right: 0;
    /* แสดง Drawer */
  }
  
  /* สไตล์เนื้อหาใน Drawer */
  .drawer-content {
    padding: 20px;
  }
  
  .drawer-content h3 {
    margin-top: 0;
  }
  
  .drawer-content ul {
    list-style-type: none;
    padding: 0;
  }
  
  .drawer-content ul li {
    margin: 10px 0;
  }


  