<mat-toolbar class="fixed-toolbar"
    style="background-color: rgb(233, 135, 135); height: 90px; display: flex; align-items: center; justify-content: space-between;">

    <a [routerLink]="['/HomepageAdmin']" [queryParams]="{ id: userId }">
        <img src="../../../assets/images/Logoweb.png" alt="Home Icon" width="80px">
    </a>
    <!-- กลุ่มไอคอนด้านซ้าย -->
    <div style="display: flex; flex-grow: 1; justify-content: center; align-items: center; text-align: center;">
        <div style="display: flex; justify-content: center; align-items: center; gap: 60px;">

            <div style="display: flex; flex-direction: column; align-items: center;">
                <a [routerLink]="['/HomepageAdmin']" [queryParams]="{ id: userId }">
                    <i style="font-size: 40px; color: black;" class="fas fa-house"></i>
                </a>
                <span class="itim-regular">หน้าหลัก</span>
            </div>

            <div style="display: flex; flex-direction: column; align-items: center;">
                <a [routerLink]="['/userlist']" [queryParams]="{ id : userId }">
                    <i style="font-size: 40px; color: black;" class="fas fa-users"></i>
                </a>
                <span class="itim-regular">ผู้ใช้งาน</span>
            </div>

            <div style="display: flex; flex-direction: column; align-items: center;">
                <a [routerLink]="['/noti_addmin']" [queryParams]="{ id: userId }">
                    <i style="font-size: 40px; color: black;" class="fas fa-bell"></i>
                </a>
                <span class="itim-regular">การแจ้งเตือน</span>
            </div>

        </div>
    </div>

    <!-- ไอคอนเมนู -->
    <div style="display: flex; flex-direction: column; align-items: center; margin-left: 20px;">
        <a href="javascript:void(0)" (click)="toggleDrawer()">
            <i style="font-size: 40px; color: black;" class="fa-solid fa-bars"></i>
        </a>
    </div>

    <!-- Drawer -->
    <div class="drawer" [class.open]="isDrawerOpen">
        <div class="drawer-content">
            <h3 style="font-weight: 500; font-size: 30px;">MENU</h3>
            <ul style="list-style: none; padding: 0;">
                <!-- ออกจากระบบ -->
                <li
                    style="border-bottom: 1px solid #ccc; padding: 10px 0; display: flex; align-items: center; gap: 10px;">
                    <i class="fa fa-sign-out" style="font-size: 20px; color: black;"></i>
                    <a href="/" style="text-decoration: none; color: black;">
                        <span class="itim-regular">ออกจากระบบ</span>
                    </a>
                </li>
            </ul>
            <button mat-flat-button style="background-color: rgb(226, 124, 150); width: 100px;"
                (click)="toggleDrawer()">ปิด</button>
        </div>
    </div>
</mat-toolbar>
<div style="display: flex; justify-content: center; align-items: center; margin-top: 130PX;">
    <div *ngIf="post" class="divpost">
        <!-- ส่วนแสดงโปรไฟล์ผู้ใช้ -->
        <div class="post-header">
            <div style="display: flex;">
                <div style="display: flex;">
                        <a [routerLink]="['/admin_profileuser']" [queryParams]="{ id: post.user_uid, adminId: userId }">
                            <img [src]="post.user_profile_image || 'https://i.pinimg.com/736x/a8/0e/36/a80e3690318c08114011145fdcfa3ddb.jpg'"
                                alt="รูปโปรไฟล์"
                                style="width: 100px; height: 100px; border-radius: 50%; object-fit: cover;">
                        </a>
                    <div style="display: flex; flex-direction: row; justify-content: space-between; gap: 180px;">
                        <div style="display: flex; flex-direction: column;">
                            <span style="font-size: 30px; font-weight: 500; margin-left: 20px;">
                                {{ post.user_name }}
                            </span>
                            <span style="color: #7e7776; margin-top: 5px; margin-left: 25px; margin-bottom: 10px;">
                                {{ post.post_time | timeAgo }}
                            </span>
                            <div *ngIf="post.location">
                                <i class="fa-solid fa-location-dot"
                                    style="margin-left: 20px; margin-right: 5px; font-size: 20px; color: rgb(228, 63, 91);"></i>
                                <a class="location" [href]="post.location" target="_blank">
                                    Location:
                                    {{ post.location.length > 30 ? (post.location.substring(0, 30) + '...') :
                                    post.location
                                    }}
                                </a>
                            </div>
                        </div>
                        <a mat-button [matMenuTriggerFor]="menu"
                            style="display: flex; align-items: center; justify-content: center; padding: 0;">
                            <svg xmlns="http://www.w3.org/2000/svg" height="30" viewBox="0 0 24 24" width="30"
                                fill="black">
                                <circle cx="12" cy="5" r="2"></circle>
                                <circle cx="12" cy="12" r="2"></circle>
                                <circle cx="12" cy="19" r="2"></circle>
                            </svg>
                        </a>

                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="deletePost(post.post_id)">
                                <i class="fa-solid fa-user-slash"
                                    style="margin-right: 5px; font-size: 20px; color: rgb(200, 50, 50);"></i>
                                <span style="font-size: 15px;">ลบโพสต์</span>
                            </button>
                            <button mat-menu-item >
                                <div style="display: flex; align-items: center; justify-content: center;">
                                    <i class="fa-solid fa-xmark"
                                        style="margin-right: 5px; font-size: 30px; color: #d9534f;"></i>
                                    <span style="font-size: 15px;">ปฏิเสธการรายงาน</span>
                                </div>
                            </button>
                        </mat-menu>
                    </div>
                </div>
            </div>
        </div>

        <!-- รูปภาพ/วิดีโอ -->
        <div *ngIf="post" class="media-slider">
            <div class="media-container" style="position: relative;">
                <ng-container *ngIf="post.images.length || post.videos.length">
                    <div *ngIf="currentMediaIndex >= 0">
                        <ng-container *ngIf="currentMedia.type === 'image'; else videoTemplate">
                            <img [src]="currentMedia.url" alt="โพสต์รูปภาพ"
                                style="width: 800px; height: 750px; object-fit: cover; margin-bottom: 10px;">
                        </ng-container>
                        <ng-template #videoTemplate>
                            <video [src]="currentMedia.url" controls
                                style="width: 800px; height: 750px; object-fit: cover; background-color: black; margin-bottom: 10px;"></video>
                        </ng-template>
                    </div>
                </ng-container>
            </div>
        </div>


        <div style="display: flex; align-items: center; gap: 10px; margin: 15px;">
            <i class="fa fa-heart" style="font-size: 30px; color: rgb(109, 105, 106);"></i>
            <span *ngIf="post.likes_count > 0" style="font-weight: 500; font-size: 22px;">
                {{ post.likes_count }}
            </span>
        </div>
        <!-- คำบรรยาย -->
        <div style="width: 760px; padding: 0px 20px; font-size: 22px; margin-bottom: 20px;">
            <span [innerHTML]="post.title | newlineToBr"></span>
        </div>

        <div *ngFor="let comment of (showAllComments ? comments : comments.slice(0, 2))" style="margin-bottom: 20px;">
            <div style="display: flex; gap: 10px; margin-left: 20px; justify-content: space-between;">
                <div style="display: flex; gap: 15px;">
                    <img style="width: 60px; height: 60px; object-fit: cover; border-radius: 50%; cursor: pointer;"
                        [src]="comment.image_url || 'https://i.pinimg.com/736x/a8/0e/36/a80e3690318c08114011145fdcfa3ddb.jpg'"
                        alt="">
                    <div style="display: flex; flex-direction: column;  width: 450px; ">
                        <div style="margin-bottom: 5px;">
                            <span style="font-size: 20px; font-weight: 500;" title="username">{{
                                comment.username}}</span>

                            <span style="margin-left: 10px; color: #949090;">{{ comment.date_time | timeAgo }}</span>
                        </div>
                        <span
                            style="font-size: 20px; white-space: pre-line; word-wrap: break-word; word-break: break-word;"
                            title="comment">{{ comment.title }}</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>