:host,
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(249, 241, 239);
  /* สีพื้นหลัง */
  box-sizing: border-box;
  /* คำนวณขนาดไม่เกินขอบ */
  overflow-x: hidden;
  /* ปิดการเลื่อนแนวนอน */
}

:host {
  display: block;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  /* ครอบคลุมความสูงเต็มหน้าจอ */
  background-color: rgb(249, 241, 239);
  /* สีพื้นหลัง */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body {
  overflow-y: auto;
  /* เปิดใช้งานการเลื่อนแนวตั้ง */
  background-color: rgb(249, 241, 239);
  /* สีพื้นหลังเหมือนกัน */
}

.fixed-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(233, 135, 135);
  height: 90px;
  width: 100%;
  z-index: 2;
  /* Ensure it is above other content */
}

.drawer {
  position: fixed;
  top: 0;
  right: -300px;
  /* ซ่อน Drawer ทางขวา */
  width: 300px;
  height: 100%;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: right 0.3s ease;
  /* เพิ่ม Transition */
  z-index: 1000;
}

/* Drawer เปิด */
.drawer.open {
  right: 0;
  /* แสดง Drawer */
}

/* สไตล์เนื้อหาใน Drawer */
.drawer-content {
  padding: 20px;
}

.drawer-content h3 {
  margin-top: 0;
}

.drawer-content ul {
  list-style-type: none;
  padding: 0;
}

.drawer-content ul li {
  margin: 10px 0;
}

.divpost {
  margin-bottom: 70px;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 800px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.media-container {
  position: relative;
}

.slider-controls {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  /* ซ่อนปุ่มเลื่อนโดยปกติ */
}

/* เมื่อเมาส์อยู่บน media container หรือเมื่อปุ่มต้องการแสดง */
.slider-controls.visible {
  display: flex;
  /* แสดงปุ่มเลื่อน */
  gap: 680px;
}

.prev-btn,
.next-btn {
  background-color: rgba(134, 134, 134, 0.5);
  color: white;
  border: none;
  padding: 10px;
  font-size: 24px;
  cursor: pointer;
  border-radius: 5px;
}

.prev-btn:hover,
.next-btn:hover {
  background: rgba(112, 109, 109, 0.7);
  /* เพิ่มความเข้มเมื่อ hover */
}

.location {
  font-size: 20px;
  text-decoration: none;
  color: rgb(87, 81, 83);
}

.shared {
  color: rgb(212, 117, 125);
}

.not-shared {
  color: rgb(112, 106, 106);

}

.saved {
  color: rgb(24, 24, 24);
  font-weight: bold;
}

.not-saved {
  color: #111111;
}

.post-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 15px;
  justify-content: space-between;
}